*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: white;
  margin: 0;
}
body{
  background-image: url(../public/bg\ Image.jpg);
  background-size: cover;
  display: grid;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(8px);
}
h1{
  font-size: 4rem;
}
p{
  font-size: 1.5rem;
}
h1, p{
  cursor: default;
}