:root{
  --light-color: rgb(250, 250, 250);
  --dark-color: rgb(60, 60, 60);
  --bg-color: rgb(220,220,220);
  --accent-color: rgb(100,110,150);
}
@font-face {
  font-family: Heading;
  src: url(../private/data/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Paragraph;
  src: url(../private/data/fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4{
  font-family: Heading;
  font-weight: 500;
}
p{
  font-family: Paragraph;
  font-weight: 400;
  line-height: clamp(20px, 5vw, 25px);
  font-style: italic;
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}
.homeSection{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: clamp(100px, 25vh, 500px) clamp(100px, 20vw, 500px);
  color: var(--light-color);
  z-index: 1;
}
.homeSection::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(https://media.jungfrau.ch/image/upload/ar_16:9,c_crop,fl_lossy,q_auto/c_scale,w_3247/v1698672924/Winterwandern-Kleine-Scheidegg-Maennlichen-Eiger-Moench-Jungfrau-3-new-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  filter: brightness(65%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.leftTextBox{
  cursor: default;
  width: clamp(300px, 25vw, 750px);
}
.leftTextBox h1{
  font-size: clamp(2rem, 20vw, 6rem);
  font-weight: 500;
}
.rightFormBox form{
  display: grid;
  width: clamp(300px, 20vw, 750px);
  text-align: end;
  justify-items: end;
  gap: 10px;
}
.rightFormBox h4{
  font-size: 1.5rem;
  cursor: default;
}
.rightFormBox input{
  background-color: var(--light-color);
  border: none;
  height: 50px;
  padding: 8px 16px;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: end;
  width: 100%;
}
.submitBtn{
  background-color: transparent;
  border: 2px solid var(--light-color);
  color: var(--light-color);
  width: fit-content;
  padding: 12px 32px;
  font-size: 1rem;
  font-family: Paragraph;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  height: 50px;
}
.submitBtn::before{
  content: '';
  width: 100%;
  height: 0%;
  position: absolute;
  display: block;
  background-color: var(--light-color);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}
.submitBtn:hover{
  color: var(--dark-color);
}
.submitBtn:hover::before{
  height: 100%;
}

.numberedOfferSection{
  background-color: var(--bg-color);
  padding: 10vh clamp(10px, 20vw, 500px);
  display: flex;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}
.numOfferBox{
  width: 350px;
  text-align: center;
  cursor: default;
}
.numOfferBox h3{
  font-size: 8rem;
  font-weight: 600;
  color: white;
}
.numOfferBox h2{
  color: var(--dark-color);
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 500;
  margin-bottom: 10px;
}
.numOfferBox p{
  color: var(--dark-color);
  font-weight: 500;
}

.visualOffer{
  display: flex;
}
.bigImageComponent{
  position: relative;
  z-index: 10;
  cursor: default;
  display: grid;
  grid-template-columns: 65%;
  grid-template-rows: max-content auto 25vh;
  justify-content: center;
  justify-items: center;
  width: 100%;
  color: var(--light-color);
  overflow: hidden;
}
.bigImageComponent:hover .componentBg{
  filter: grayscale(0) brightness(0.5);
  scale: 1.1;
}
.componentBg{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
  filter: grayscale(100) brightness(0.75);
  transition: 0.3s;
}
.bigImageComponent h3{
  font-size: 3.5rem;
  text-align: center;
  margin-top: 7.5vh;
}
.bigImageComponent h4{
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;
}
.bigImageComponent Button{
  /* margin: 15vh 0; */
  align-self: center;
}

@media (max-width: 1100px) {
  .homeSection{
    flex-direction: column;
    align-content: center;
    padding: clamp(100px, 25vh, 200px) clamp(10px, 10vw, 300px);
  }
  .leftTextBox{
    width: clamp(150px, 100%, 500px);
  }
  .rightFormBox form{
    margin-top: 15vh;
    width: clamp(150px, 100%, 500px);
  }
}